* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    background-color: hsl(204, 43%, 93%);
    color: hsl(218, 22%, 67%);
}
img {
    display: block;
    width: 100%;
    height: auto;
}
button {
    font-family: "Karla", sans-serif;
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0 0 0.6em 0;
    margin: 0;
    line-height: 1.4;
    color: #fff;
    font-weight: 700;
}

h1 {
    font-size: 1.2rem;
    color: hsl(179, 62%, 43%);
}

.color-bg {
    color: #fff;
}
h2 {
    font-size: 1.1rem;
    color: hsl(71, 73%, 54%);
    margin: 0.2rem 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    border-radius: 6px;
    max-width: 540px;
}

.center-hv {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    padding: 2.5rem;
    line-height: 1.5;
}

.card:nth-child(1) {
    background-color: #fff;
    border-radius: 6px 6px 0 0;
}

.card:nth-child(2) {
    background-color: hsl(179, 62%, 43%);
    color: #fff;
}
.card:nth-child(3) {
    background-color: hsl(179, 62%, 46%);
    color: #fff;
    border-radius: 0 0 6px 6px;
}

.pricing {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}
.pricing div:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 700;
}
.pricing div:nth-child(2) {
    opacity: 0.5;
    margin-left: 0.9em;
}
.signup-btn {
    width: 100%;
    background-color: hsl(71, 73%, 54%);
    border: 2px solid hsl(71, 73%, 54%);
    border-radius: 5px;
    padding: 0.7rem 2rem;
    margin-top: 1.8rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0 20px hsl(179, 62%, 30%);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.signup-btn:hover {
    transform: scale(1.1);
    color: hsl(179, 62%, 30%);
}
.why-us {
    list-style: none;
    padding: 0;
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}

.attribution a:hover {
    opacity: 0.6;
}

@media screen and (min-width: 720px) {
    main {
        max-width: 640px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "first first"
            "second third";
    }
    .center-hv {
        height: 100vh;
        align-items: center;
    }
    .card:nth-child(1) {
        grid-area: first;
        max-width: 100%;
    }
    .card:nth-child(2) {
        grid-area: second;
        height: 100%;
        border-radius: 0 0 0 6px;
    }
    .card:nth-child(3) {
        grid-area: third;
        border-radius: 0 0 6px 0;
    }
}
